{% extends "base.html" %}

{% block content %}

    <div class="cards-listing">
    {% for post in object_list %}
        <div class="row">
            <div class="card view-update {{ post.pk }}">
                <div class="card__panel-head">
                    <a href="{% url 'post_detail' post.author.pk %}" class="poster__name">
=                       <img class="card__main-image" src="{{ post.image.url }}">
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}